# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

**Objectives:**

    * List languanges for Data Science
    * List commonly libraries used by Data Sicence
    * List Data Science Tools open source
    * Example arithmetic expressions basic in language Python

 Some of the popular language that Data Scientist use are:

    1. Phyton
    2. R
    3. SQL
    4. Java
    5. Scala
    6. Julia
    7. Javascript

 Some of the commonly used libraries used by Data Scientes include

     1. NumPy
     2. Pandas
     3. Matplotlib
     4. Seaborn

| Data Sciene Tools |
| ----------------- |
| Jupyter Notebooks |
| Jupyter Lab |
| Zeepelin |
| RStudio |
| APache Spark |
| Knime |
| Git hub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply the add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335


## Author
Karen GÃ³mez